name: Calculator CI

on:
  push:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest
    
    steps:
      - name: code checkout
        uses: actions/checkout@v4

      - name: setup python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"
        
      - name: insall dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest
        
      - name: testcase
        run: pytest test_calculator.py -v